<div class="example-container mat-elevation-z8">
    <h2>Todo : Add Employee</h2>
    <div class="example-loading-shade"
          *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/']"><mat-icon>list</mat-icon></a>
    </div>
    <mat-card class="example-card">
      <form [formGroup]="emplForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name"
                  [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!emplForm.get('name').valid && emplForm.get('name').touched">Please enter Name</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>department</mat-label>
          <mat-select formControlName="department">
            <mat-option *ngFor="let gl of department" [value]="gl">
              {{gl}}
            </mat-option>
          </mat-select>
          <mat-error>
            <span *ngIf="!emplForm.get('department').valid && emplForm.get('department').touched">Please choose Gender</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>salary</mat-label>
          <input matInput type="number" placeholder="salary" formControlName="salary"
                  [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!emplForm.get('salary').valid && emplForm.get('salary').touched">Please enter Age</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!emplForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
        </div>
      </form>
    </mat-card>
  </div>
